

$font-family-base: "Source Sans Pro" ;

// $font-size-base: .875rem ; // 14px

// $body-bg: #d4d1d1 ;

$s-navbar: #544948 ;

//  #3a849e
// "primary": #8d2c38,

$theme-colors: (
  "primary":#aac2f0,
  "secondary": #b7b7b7,
  "info": #8d2c38,  
  "dark": #434343
);

// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
